* {
	padding: 0 ;
	margin: 0 ;
	box-sizing: border-box;
}

div.leftAnalis {
	margin-left: 6%;
}
div.wrapperVideo {
	width: 74%;
	margin: 0 auto ;
	margin-top: 215px;
	max-height: 575px;
	border-bottom: 2px solid #818385;
}
div.wrapperVideoF {
	width: 100%;
}
body :after, div.comment :after,div.left :after,div.bottomAsk :after ,div.chat :after,div.chatF :after,div.wrapperLogin :after , div.wrapperVideo :after,div.right :after 
,div.left37 :after ,div.wrapperForm :after ,div.wrapperPopMenu > div :after , div.wrapperHeader :after ,div.valueDoctor :after , div.product :after ,
div.wrapperSettingwrapperRightHistory:after,html :after{
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
span.online {
	background: #b5bb15;
	width: 10px;
	height: 10px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;                           /* ЭТО ДЛЯ ИЗМЕНЕНИЯ СОСТОЯНИЯ С OFLINE НА ONLINE*/
	border-radius: 10px;
	float: left;
	margin:  3px 4px 0 0 ;
}
span.ofline {
	background: #c0c0c0;
	width: 10px;
	height: 10px;
	-moz-border-radius: 50px;                               /* ЭТО ДЛЯ ИЗМЕНЕНИЯ СОСТОЯНИЯ С ONLINE НА  OFLINE*/    
	-webkit-border-radius: 50px;
	border-radius: 10px;
	float: left;
	margin:  3px 4px 0 0 ;
}
div.left {
	float: left;
	width: 61.7%;
	border-right: 1px solid #e1e1e1;
	height: 571px;
	background: #f0f2f4;
}
div.left >div.chat {
	margin: 0;
	width: 100%;
	height: 100%;
}
div.right {
	margin-top: 20px;
	float: right;
	width: 38.3%;
	background: #f0f2f4;
}

div.wrapperComment {
	overflow: scroll;
	overflow-x: hidden;
	max-height: 450px;
}
div.bg {
	background: #1e65c7;
	height: 35px;
}
div.bg>span {
	background: url(../img/exit.png);
	width: 11px;
	height: 12px;
	display: block;
	float: right;
	margin-top: 11px;
	margin-right: 15px;
}
div.full > div.fullLeft >div.chat{
	border-radius: 0;
}
div.full {
	margin: 0;
	padding: 0;
	width: 99vw;

	border-radius: 0;
}
div.full  {
	height: 100%;
}
img.avatar {
	width: 75px;
	height: 75px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 15px 20px 0 13px;
	float: left;
}
div.wrapperLogin {
	padding-top: 40px;
	float: left;
	width: 78.2%;
	margin-left: 6%;
	height: 10%;
	position: absolute;
}
div.chat {
	width: 95%;
	background: #aaa;
	height: 464px;
	margin-left: 4.9%;
    margin-top: 20px;
    border-radius: 10px;
}
div.bg>p {
	margin-left: 20px;
	padding-top: 8px;
	color: #fff;
	float: left;
}
div.textDiv {
	float: right;
	width: 78.5%;
	padding-top: 10px;
}
div.comment {
	min-height: 80px;
	background:#fff;
	margin-bottom: 2px;
	padding-bottom: 20px;
}
div.comment >img {
	width: 60px;
	height: 60px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 8px 10px 0 10px;
	float: left;
}
p.login {
	color: #1e65c7;
	float: left;
}

/*div.comment {*/
	/*float: right;*/
	/*padding-top: 15px;*/
/*}*/
p.timeInLeft {
	margin-left: 13px;
	margin-top: 2px;
}
p.time {
	float: right;
	color: #c2c5cd;
	margin-right: 25px;
}
p.text {
	float: left;
}
div.bottomAsk {
	margin: 20px 0  15px 0px;
}
textarea.askT {
	width: 89%;
	height: 80px;
	margin: 0 auto;
	display: block;
	max-width: 89%;
	max-height: 80px;
}

span {
	float: left;
}

input.send {
	height: 20px;
	color: #fff;
	background: #1e65c7;
	border: 0;
	margin-top: 10px;
	border-radius: 8px;
	margin-left: 2%;
	float: right;
	margin-right: 2%;

}
ul.loginInLeft  >li>span   {
	color: #fff;
}
ul.loginInLeft  > li {
	color: #b5bb15;
}
span.phoneInAsk  {
	background: url(../img/phone.png);
	height: 20px;
	width: 20px;
	margin-top: 9px;
	margin-left: 2%;
}
div.callDivF {
	width:100%;
	background: #fff;
	margin: 105% auto;
}
span.file {
	background: url(../img/file.png);
	width: 17px;
	height: 15px;
	display: block;
	margin-right: 0.7%;
	margin-left:2%;
}
span.file2 {
	margin-top: 11px;
	background: url(../img/file.png);
	width: 17px;
	height: 15px;
	display: block;
	float: left;
	margin-left: 7.7%;
	margin-right: 1%;
}
a.call  {
	text-decoration: none;
	color: #9a9ea6;
	margin-top: 10px;
	float: left;

}
a.callC {
	text-decoration: none;
	color: #9a9ea6;
	margin-top: 11px;
	float: left;
	font-size: 0.8em;

}
a.fileA {
	text-decoration: none;
	color: #9a9ea6;
	float: left;
}
#span1{
	background: url(../img/size.png);
	background-repeat: no-repeat;
}
#span2 {
	background: url(../img/toggleV.png);
	background-repeat: no-repeat;
}
#span3 {
	background: url(../img/dinamic.png);
	background-repeat: no-repeat;
}

span.callSpan {
	width:  20px;
	height: 18px;
	float: left;
	margin-left: 2.4%;
}
div.callDiv {
	margin-top: 18px;
	height: 50px;
	margin-left: 4.9%;
}

div.exitCall {
	width: 30%;
	float: right;
	background: #d93131;
	height: 30px;
	border-radius: 7px;
	margin-top: -5px;
	margin-right: 2.9%;
}
div.exitCall > p {
	text-align: center;
	margin-top: 7px;
	color: #fff;
	float: left;
	margin-left: 9px;
}
span.exit {
	background: url("../img/call.png");
	width: 19px;
	height: 8px;
	float: right;
	margin-top: 13px;
	margin-right: 6%;
}

div.chatF {
	width: 100%;
	background: #aaa;
	height: 545px;
}
div.callDiv {
	width: 60%;
	background: #fff;
	margin: 100px auto;
}
div.user {
	display: none;
}
p.mesegeLogin {
	margin-left: 13px;
	color: #9197a3;
	float: left;
}
p.date {
	float: right;
	color: #9197a3;
}
div.wrapperUser {
	background: #f0f2f4;
	min-height: 105px;
}
div.wrapperText {
	width: 56%;
	border: 1px solid #b9bcbf
}
#exitPop {
	width: 14px ;
	height: 14px;
	background: url(../img/exitPop.png);
	background-repeat: no-repeat;
	float: right;
	margin-top: 5px;
	cursor: pointer;
	margin-right: 3%;
}
div.wrapperForm {
	background: #f1f5f8;
	width: 39.33%;
}
div.wrapperForm > span ,div.wrapperReg >div> span,div.wrapperEntry > span{
	width: 20px;
	height: 20px;
	margin-top: 17px;
	background: url(../img/exitForm.png);
	margin-left: 92.7%;
}
div.left37 {
	float: left;
	width: 37.1%;

}
div.cell {
	margin-top: 20px;
}
div.right62 {
	width: 62.9%;
	float: right;

}
div.right62 > div ,input.regInput{
	width: 91.39784946236559%;
	height: 32px;
	background: #fff;
	border: 1px solid #dedede;
	border-radius: 7px;
}
div.right62 > textarea {
	height: 71px;
	width: 91.39784946236559%;
	border: 1px solid #dedede;
	border-radius: 7px;
	max-height: 71px;
	max-width:  91.39784946236559%;
	float: left;
}
p.titleForm {
	text-align: center;
	padding-top: 39.5px;
	margin-bottom: 36.5px;
}
div.left37 > p {
	text-align: right;
	margin-right: 5%;
	margin-top: 3px;
}
div.green {
	width: 100px; /* ПРИ ДОБАЛЕНИИ ТЕКСТА ДОЛЖЕН МЕНЯТСЯ РАЗМЕР БЛОКА*/
	height: 25px;
	background: #66c097;
	margin: 0.5%;
	border-radius: 5px;
}
div.save {
	margin-bottom: 20px;
}
input.saveI , input.reg{
	width: 16.0472972972973%;
	height: 30px;
	background: #1e65c7;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: 77.12854757929883%;
	color: #fff;
	border: 0;
}
input.reg {
	width: 45.45454545454545%;
	margin-left: 45.73002754820937%;
	margin-top: 27.5px;
	margin-bottom: 25.5px;
}
div.wrapperReg {
	width: 24.2%;
	background: #f1f5f8;
	border-radius: 10px

}

div.wrapperReg >div> p {
	margin-left: 8.701657458563536%;
	float: left;
	margin-top: -15px;
}
div.wrapperReg >div {
	margin-bottom: 41px;
}
p.inReg {
	float: left;
	margin-left: 8.310249307479224%;
}
div.wrapperReg >div > span {
	float: right;
	margin-right: 5%;
	margin-top: 35px;
} 
div.gender {
	margin: 0 auto;
	width: 60%;
}
input.gender {
	display: none;
}
div.rightGender > p,div.leftGender > p {
	float: right;
	padding-top: -11px
}
div.leftGender {
	float: left;
}
div.rightGender {
	float: right;
}
div.consent > input {
	float: left;
	margin-left: 8.701657458563536%;
}
div.consent > p {
	padding-left: 4.281767955801105%;
	float: left;

}
div.consent > p > a {
	color: #1e65c7;
}
div.hr {
	width: 100%;
	height: 1px;
	background: #e0e0e0;
}
p.actived div.rightGender > p.active  {   /* ЭТО ЕСЛИ ВЫБЕРУТ МУСЧИНУ ИЛИ ЖЕНЬЩИНУ */
	color: #64bf94;
}
div.wrapperPopMenu {
 	width: 14.66666666666667%;
 	background: #fff;
 }
div.top {
	background: #1e65c7;
	width: 92.37668161434978%;
	padding-top: 28px;
	height: 88px;
	margin: 0 auto;
}
div.top > img {
	width: 30px;
	height: 30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 50px;
	float: left;
	margin-left: 6.310679611650485%;
}
div.top >div {
	float: left;
	margin-left: 8.571078731480348%;
}
div.top >div > p {
	color: #dfe6f4;
}
div.triangle {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #fff;
	margin-left: 40%;
	margin-top: 10px;
	width: 0;
	height: 0;
}
div.cellPopMenu {
	height: 168px;
	width: 100%;
	border-radius: 7px;
}
#pop1 {
	background: url(../img/home.png);background-repeat: no-repeat; 
}
#pop2 {
	background: url(../img/setting.png);background-repeat: no-repeat; 
}
#pop3 {
	background: url(../img/wallet.png);background-repeat: no-repeat;
}
#pop4 {
	background: url(../img/unlock.png);background-repeat: no-repeat;
}
div.cellPopMenu  >p {
	margin-left: 10%;
	margin-top: 21px;
}
div.cellPopMenu  >p > a {
	color: #000;
	text-decoration: none;
}
div.cellPopMenu  >p > a:hover {
	text-decoration: underline;
	color: #1e65c7;
}
div.cellPopMenu  >p>span{
	width: 20px;
	margin-right: 6%;
	height: 20px;
	background-repeat: no-repeat;
}
span.popSpan {
	width: 16px;
	margin-top: 1px;
	height: 16px;
	background-repeat: no-repeat;
}
div.wrapperPop {
	width: 15.53333333333333%;
	background: #fff;
}
div.wrapperUnderTria {
	border: 1px solid #8a8a8a;
	border-radius: 5px;
	width: 100%;
}

div.bgPop {
	width: 79.82832618025751%;
	height: 10px;
	background: #dee5ea;
	margin: 20px auto;
	border-radius: 10px;
}

div.scale > p  {
	margin-top: 7.67px;
	text-align: center;
}
div.scale :last-child {
	padding-bottom: 20px;
}
div.scale > p > a {
	color: #66c097;
}
p.profileText {
	text-align: center;
	margin-top: 11px;
	border-bottom: 1px solid #dedede;
	padding-bottom: 10px;
}
div.inBg {
	height: inherit;
	background: #1e65c7;
	width: 70%;
	border-radius: 10px
}
div.next {

}
div.wrapperEntry ,div.wrapperEntry2{
	width: 38.90322580645161%;
	border-radius: 10px;
}
#px36 {
	margin-top: 36px;
}
div.next > div>p {
	text-align: center;
	color: #9197a3;
	margin-top: 5px;
}
div.next > div {
	float: left;
	width: 70%;
	margin-top: 23px;
}
div.next > form {
	float: right;
	width: 18%;
	margin-top: 24px;
	margin-right: 3%;
}
input.nextInput {
	height: 30px;
	width: 100%;
	background: #1e65c7;
	border-radius: 10px;
	color: #fff;
	border: 0;
}
div.row {

	margin-left: 2.105263157894737%;
	height: 178px;
	background: #66c097;
	border-radius: 10px;
}
div.wrapperRow  {
	width: 89.47368421052632%;
	margin: 0 auto;
	margin-top: 34px;
	margin-left: 8.5%;
}
div.wrapperEntry2 > p {
	text-align: center;
	margin-top: 2px;
	color: #666768;
}
div.row > form > input {
}
p.inRowP {
	text-align: center;
	margin-top: 13px;
	color: #e6f3ed;
}
div.floatRow {
	float: left;
	width: 28.42105263157895%;
	margin-left: 2.105263157894737%;
}
div.floatRow > div{
	text-align: center;
	margin-top: 13px;
	
}

div.wrapperFredom > p {
	color: #9197a4;
}
div.wrapperEntry > span {
	margin-top: 5px;
	margin-left: 90%;
}
#chatSpan {
	background: url(../img/сomment.png);
	width:54px;
	height: 48px;
}
#phoneSpan {
	background: url(../img/phoneSpan.png);
	width: 43px; 
	height: 50px;	
	margin-left: 15%;
}
#videoSpan {
	background: url(../img/camera.png) ; 
	width: 44px;
	height: 47px;

}
div.row > div {
	width: 30%;
	margin: 0 auto;
}

span.spanInRow {
	background-repeat: no-repeat;
	margin: 20px auto;
}
div.wrapperHeader {
	width: 93.93333333333333%;
	border-bottom: 2px solid #f6f6f6;
	float: right;
	padding-bottom: 9px;
}
span#logo {
	width: 159px;
	height: 72px;
	background: url(../img/logo.png);
	float: left;
	margin-left: 7.315340909090909%;
	margin-top: 9px;

}
div.wrapperInMenu {
	float: left;
	width: 50%;
}
div.menu {
	float: left;
	width: 60%;
}
div.menu > ul  {
	width: 60%;
	margin-top: 35px;
	float: left;
	list-style: none;

}
div.menu > ul > li {
	float: left;
	margin-left: 5.823863636363636%;
}
div.menu > ul > li > a {
	text-decoration: none;
	color: #18323f;
	font-size: 17px;

}
#inCondition1 {
	background: url(../img/basket.png);
	width: 44px;
	height: 34px;
}
#inCondition2 {
	background: url(../img/what.png);
	width: 41px;
	height: 41px;
}
#inCondition3 {
	background: url(../img/money.png);
	width: 31px;
	height: 31px;
	margin-top: 4px;
}
div.condition > a , div.condition >  p  {
	float: left;
	margin-top: 25px;
	margin-left: 2%;
}
div.condition >  p {
	margin-top: 34px;

}
div.condition {
	float: right;
	width: 23.4%;
	margin-right: 8.457386363636364%;
}
div.userInHeader {
	margin-top: 30px;
}
div.userInHeader > img {
	width: 33px;
	height: 33px;
	float: left ;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-left: 10%;
}
div.userInHeader > div {
	float: left;
	padding-left: 1.2%;
}
div.userInHeader > div > a {
	color: #1e65c7;
}
div.leftMenu {
	float: left;
	width: 6.06666666666667%;
	height: 90px;
	position: fixed;
	background: #6fd0a4;
}

div.leftMenu > span {
	width: 31px;
	cursor: pointer;
	height: 22px;
	margin: 34px 30%;
	display: block;
	background: url(../img/threLine.png);
}
div.qwe {
	height: 10000px;
}
div.wrapperNav {
	width: 6.066666666666667%;
	background: #66c097;
	float: left;
	height: 100vh;
	margin-top: 90px;
	position: fixed;
}
div.nav {
	width: 38.04347826086957%;
	margin: 0 auto;
	height: 100%;
}
div.nav >a>span {
	width: 40px;
	margin-top: 16px;
	height: 40px;
	margin-left: 5%;
	margin-right: 10%;
}
#nav1 {background: url(../img/peopleWhite.png);background-repeat: no-repeat;margin-top: 123px;}
#nav2 {background: url(../img/massageBig.png);background-repeat: no-repeat;}
#nav3 {background: url(../img/sister.png);background-repeat: no-repeat}
#nav4 {background: url(../img/scop.png);background-repeat: no-repeat;}
#nav5{background: url(../img/syringe.png);background-repeat: no-repeat;}
#nav6 {background: url(../img/brain.png);background-repeat: no-repeat;}
#nav7 {background: url(../img/med.png);background-repeat: no-repeat;}

div.wrapperDoctor {
	width: 78.83522727272727%;
	margin:69px 7.315340909090909% 0 13.315340909090909%;
	float: left;
	margin-bottom: 90px;
}
div.doctor > img {
	width: 100%;
}
div.doctor {
	float: left;
	margin-right: 2.108664772727273%;
	width: 15.98011363636364%;
	height: 100px;
	
}
div.doctor > p {
	font-size: 120%;
	margin-top: 24px;
}
div.reiting {
	width: 100%;
	background: #f1f5f8;
	border-radius: 5px;
}
div.reiting > div > p {
	font-size: 110%;
	float: right;
	margin: 20px 5% 18px 0;
}
span.star {
	width: 23px;
	height: 21px;
	margin-left: 2.5%;
	float: left;
	margin-top: 18px;
}
span.starActive {
	background: url(../img/starActive.png);

}
span.starNonActive {
	background: url(../img/starNonActive.png);
}
div.statDiv {
	margin-top: 26px;
}
div.statDiv > div {
	width: 100%;
	border-radius: 10px;
	height: 10px;
	background: #f6f8fa;
	z-index: 0;
}
div.statDiv > div > div {
	border-radius: 10px;
	z-index: 1;
	background: #75c6a1;
	height: 10px;
}
#stat1 {width: 10%}
#stat2 {width: 50%}
#stat3 {width: 70%}
div.hrStat {
	width: 40%;
	height: 2px;
	background: #dee3e7;
	margin-top: 23px;
}
div.bottomRait {
	background: #75c6a1;
	width: 66.66666666666667%;
	height: 32px;
	border-radius: 10px;
	margin-top: 24px;
	cursor: pointer; 
}
div.bottomRait > span {
	width: 16px;
	height: 15px;
	background: url(../img/star.png);
	margin-top: 7px;
	margin-left: 10%;

}
div.bottomRait > p{
	padding-top: 9px;
	color: #fff;
	margin-left: 27%;
	font-size: 85%;
}
div.complaint {
	width: 54.90196078431373%;
	height: 32px;
	border: solid 1px #e1e0d7;
	margin-top: 8px;
	border-radius: 10px;
	cursor: pointer;
}
div.complaint > span {
	width: 23px;
	height: 22px;
	margin-top: 4px;
	background: url(../img/exclamation.png);
	margin-left: 7%;

}
div.complaint > p {

	margin-left: 40%;
	margin-top: 6px;
}
div.wrapperInformaton {
	width: 77.02702702702703%;
	float: right;
}
div.wrapperInformaton > p ,div.wrapperReview > p  {
	font-size: 130%;

}
p.rankDoctor {
	float: left;
	margin-right: 0.5%;
	background: #dddedf;
	border-radius: 5px;
	padding: 0.2%;
	margin-top: 2px;
}
div.valueDoctor {
	width: 75%;
	background: #d9e5f2;
	margin-top: 21px;
	border-radius: 7px;
}
div.valueDoctor  > p {
	float: left;
}

div.valueDoctor :nth-child(3) {
	color: #2a63ad;
	margin-left: 0.1%;
	margin-top: 32px;
	font-size: 12px;
}
div.vertHr {
	width: 1px;
	height: 22px;
	background: #a0a0a0;
	float: left;
	margin:25px 5.5% 0 5.5%; 
}
p.greenP {
	color: #2aad71;
	margin-top: 26px;
	font-size: 110%;
	margin: 28px  0 28px 0;
}
p.greenPf {
	margin-left: 2.911392405063291%;
}
p.inValue  {
	color: #2a63ad;
	margin-left: 1%;
	margin-top: 25px;
	font-size: 130%;
	font-weight: 600;
}
div.valueDoctor > span {
	width: 16px;
	height: 16px;
	margin:28px 1% 0 0;
}
#clock {
	background: url(../img/clock.png);
}
#calendar {
	background: url(../img/calendar.png);

}
div.record {
	width: 27.01754385964912%;
	height: 46px;
	background: #1e65c7;
	float: left;
	margin-left: 4%;
	margin-top: 14px;
	border-radius: 10px;
}
div.record > span  {
	background: url(../img/tick.png);
	width: 23px;
	height: 23px;
	margin-top: 11px;
	margin-left: 10%;
}
div.record > p {
	color: #fff;
	margin-left: 27%;
	margin-top: 13px;
	font-size: 110%;
}
div.informDoctor {
	background: #f1f5f8;
	border-radius: 5px;
}
div.informDoctorBottom>div {
	border-bottom: 1px solid #dedede;
}
div.wrapperLeftDoctor {
	width: 47.95321637426901%;
	float: left;
}
div.wrapperLeftDoctor >p{
	font-size: 130%;
	margin-top: 32px;
	color: #384859;
}
div.leftInform {
	float: left;
	margin-top: 22px;
	margin-left: 5.609756097560976%;
}
div.leftInform > p {
	font-size: 105%;
	font-weight: 600;
}
div.rightInform {
	float: left;
	margin-left: 26.34146341463415%;
	margin-bottom: 23px;
	margin-top: 22px;
}
div.informDoctorCenter {
	margin-top: 20px;
}
div.informDoctorCenter  > div> span {
	background: #2aad71;
	width: 11px;
	height: 11px;
	margin-top: 4px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px; 
	border-radius: 10px;
	margin-right:  1%;
}
div.informDoctorCenter >div {
	margin-left: 6%;
	padding-top: 23px;
}
div.informDoctorBottom >div > p {
	margin-left: 4%;
}
div.informDoctorCenter >div :nth-child(2) {
	color: #2aad71;
	font-size: 105%;

}
div.informDoctorCenter :last-child {
	padding-bottom: 22px;
}
div.informDoctorBottom {
	margin-top: 21px;
}
p.margin {
	margin-top: 38px;
}
div.wrapperReview {
	float: left;
	margin-top: 35px;
	margin-left: 4.093567251461988%;
	width: 47.83625730994152%
}
div.review {
	border-radius: 10px;
	border: 1px solid #cacaca;
}
div.review > div {
	margin-top: 23px;
	margin-left: 4.889975550122249%;
	width: 87.28606356968215%;
}
p.userInDoctor {
	color: #69bf94;
	margin-left: 1%;
}
p.userInDocktorBottom {
	margin-top: 12px;
}
div.all {
	width: 36.91931540342298%;
	margin-left: 100px;
}
div.wrapperHistory {
	width: 78.77927608232789%;
	margin-left: 13.310149041873669%;
	float: left;
	margin-top: 49px;
	margin-bottom: 90px;
}
div.leftHistory > div >span{
	background: url(../img/bell.png);
	width: 16px;
	height: 20px;

}
div.leftHistory {
	width: 25.67567567567568%;
	float: left;
}
p.notice {
	font-size: 120%;
	margin-left: 1%;
	float: left;
	margin-bottom: 17px;
}
p.number {
	float: left;
	margin-left: 2%;
	margin-top: 2px;
	padding-top: 2px;
	text-align: center;
	width: 17%;
	height: 20px;
	background: #1e65c7;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	
}

p.number > span {
	background: url(../img/numberSpan.png);
	width: 11px;
	height: 7px;
	float: right;
	margin-top: 5px;
	margin-right: 10%;

}

div.event {
	background: #f1f5f8;
}
div.event > div {
	padding-top: 17px;
	float: left;
	margin-left: 3%;
	margin-bottom: 17px;
}
div.event > div > span {
	width: 20px;
	height: 20px;
	margin-top: 2px;
}
p.titlePeople {
	font-size: 120%;
}
p.grey {
	color: #a0a5b0;
}
#people {background: url(../img/people.png);  background-repeat: no-repeat;}
#tablet {background: url(../img/tablet.png); background-repeat: no-repeat;}
#calendar {background: url(../img/calendar.png); background-repeat: no-repeat;}
div.wrapperCalendar {
	margin-top: 35px;
}
div.month  {
	width: 100%;
}
p.titleCategory {
	width: 30%;
}
div.month > p {
	font-size: 120%;
	float: left;
	margin-left: 40%;
}
div.month > span {
	width: 10px;
	height:16px;
	margin-top: 3px;
}
#previousMonth {background: url(../img/previousMonth.png);}
#nextMonth {background: url(../img/nextMonth.png) ;float: right}
div.calendar {
	background: #f1f5f8;
	margin-top: 20px;
	border-radius: 10px
}
div.wrapperTable > table {
    text-align: center;
    width: 100%;
    border-spacing: 0 12px
}
div.wrapperTable {
	width: 85.96491228070175%;
	margin: 0 auto;
	margin-bottom: -35px;
}
tr.day {
	color: #65bf95;
}

td.greyTd{
	color: #a7acb6;   /* ЭТО ДНИ КОТОРЫЕ УЖЕ ПРОШЛИ*/ 
}
td.borederTd {
	border: 2px solid #d3d5d7;    /* А ЭТО ХЗ ЧТО-ЗА ДНИ ПРОСТО ОБВЕДЕНЫ СЕРОЙ РАМКОЙ */
	border-radius: 7px;
}
td.greenTd {
	color: #fff;
	background: #66c097;          /* ЭТО ЗЕЛЕНЫЙ ФОН И БЕЛЫЕ БУКВЫ */
	border-radius: 7px;
}
td.greenBorder {
	border-radius: 7px;                  /* ЭТО ЗЕЛЕНАЯ РАМКА  */
	border: 3px solid #66c097 ;
}
div.underTable {
	border-radius: 10px;
	margin-top: 13px;
	border: 2px solid #dbdbdb;
}
div.underTable > div {
	width: 50%;
	float: left;
}
div.underTable > div > p {
	text-align: center;
	margin: 6px 0;
	font-size: 110%
}
div.firstUnderTable {
	border-right:2px solid #dbdbdb;
	background: #f1f5f8;
}
div.firstUnderTable > p {
	color: #9197a3;
}
div.wrapperRightHistory {
	width: 70.9009009009009%;
	float: left;
	margin-bottom: 90px;
	margin-left: 3.423423423423423%;
}
div.wrapperRightHistory > a> span ,div.back > a > span {
	background: url(../img/back.png);
	width: 5px;
	height: 9px;
	margin-top: 7px;
	cursor: pointer;
	float: left;
}
div.wrapperRightHistory > a> p,div.back > a> p {
	margin-left: 25%;
	margin-top: 2px;
}
div.wrapperRightHistory > a ,div.back > a  {
	width: 5.2%;
	color: #2aad71;
	float: left;
}
div.historyDisease {
	background: #f1f5f8;
	border-radius: 7px;
	margin-top: 20px;
}
div.wrapperRightHistory > p {
	margin-left: 7%;
	font-size: 120%;
}
div.historyDisease > p{
	float: left;
	margin: 24px 0 24px 2.922490470139771%;
	font-size: 105%;
}
div.historyDisease  > a {
	float: left;
	font-size: 105%;
	margin: 24px 0 24px 3.811944091486658%;
	color: #82c7a5;
	border-bottom: 1px dashed;
	text-decoration: none;
}
div.historyDisease > form >input {
	margin-left: 50%;
	margin-top: 26px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #e9ebed;
}
div.historyDisease > form >input[type="search"] {
	float: left;
	outline: none;
	height: 32px;
	margin-top: 20px;

}
div.historyDisease > form >input[type="submit"]  {
	border: none;
	width: 14px;
	height: 14px;
	background: url(../img/search.png);
	float: right;
	margin-top: -20px;
	margin-right: 5%;
	outline: none;
}

div.cellTable {
	float: left;
	width: 25%;
}
div.cellTable >p{
	text-align: center;
}
p.titleDisease  {
	color: #fff;
	background: #96ceb4;
	padding: 7px 0px;
	font-size:110%;
}
div.cellTable > p > a {
	color: #1e65c7;
}
.textDisease {
	text-align: center;
	font-size: 110%;
}
p.greenPInDisease {
	color: #2aad71;
}
div.cellTable2 {
	margin:  22px 0;
}
div.cellTable3 {
	float: left;
}
p.textDisease > span {
	width: 37px;
	height: 36px;
}
#online2{
	width: 10px;
	height: 10px;
	background: #b5bb15;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px; 
	margin-top: 6px;
	margin-left: 32%;
}
#masege { 
	background: url(../img/masege.png);background-repeat: no-repeat;
	margin-left: 5%;
}
#phoneGreen { 
	background: url(../img/phoneGreen.png);background-repeat: no-repeat;
	margin-top: -6px;
}
.nonActiveDisease {
	color: #9197a3;
}
div.wrapperGadget {
	width: 77.20170454545455%;
	margin-left: 13.948863636363636%;
	margin-top: 55px;
	float: left;
	margin-bottom: 90px;
}
p.titleGadget {
	font-weight: 900;
	font-size: 130%;
	margin-left: 0.4%;
}
div.category {
	width: 29.0990990990991%;
	float: left;
}
div.category > div {
	margin-top: 27px;
}
div.category > div :first-child ,div.category > div :last-child  {
	float: left;
	cursor: pointer;
	margin-left: 2%;
}
div.category > div :last-child {
	color: #9197a3;
	margin-left: 1%;
}
div.category > div.categoryActive {
	width: 55%;
	margin-top: 12px;
	border-radius: 3px;
	background: #66c097;
}
div.category > div.categoryActive > p {
	padding: 12px 0 ;
	color: #fff;
	margin-left: 3%;
}
div.product {
	width: 70.9009009009009%;
	float: left;
}
div.product > p {
	font-size: 120%;
	float: left;
	margin-left: 6%;
	margin-top: -23px;
}
div.product > a.back {
	margin-top: -22px;

}
div.product > div.wrapper {
	background: #f1f5f8;
	border-radius: 10px;
	height: 1300px;
	width: 100%;
	margin:0;
	margin-top: 22px;
}
div.product > div.wrapper {
	padding-top: 23px;
}
div.product > div.wrapper > div> p , div.product > div.wrapper > div> a{
	float: left;
	margin-left:2.922490470139771%;
}
p.sorting  {
	color: #9197a3;
}
div.product > div.wrapper >div > div.view {
	float: right;
	margin-right: 3%;
}
div.product > div.wrapper >div > p.right {
	float: left;
	margin-left: 58%;
}
div.product > div.wrapper >div > a {
	color : #2aad71;
	text-decoration: none;
	border-bottom: 1px dashed;
}
div.wrapperProduct {
	margin-top: 10px;
	float: left;
	width: 29.5%;
	margin-left:2.922490470139771%;
}
div.wrapperProduct >div > img {
	width: 100%;
	height: 200px;
	border-bottom: 1px solid #dedede;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
div.wrapperProduct > div {
	float: left;
	background: #fff;
	margin-top: 23px;
	margin-left: 2.922490470139771%;
}
div.wrapperProduct > div > p.sorting ,div.wrapperProduct > div > p.value{
	text-align: center;
}
div.wrapperProduct > div > p {
	margin-top: 12px;
}
div.wrapperProduct > div > a {
	font-size: 120%;
	display: block;
	margin: 0 auto;
	width: 20%;
	margin-top: 31px;
	color: #2aad71;
	text-decoration: none;
}
div.wrapperProduct > div > p.value  {
	font-size: 120%;
	font-weight: 700;
}
div.wrapperProduct > div > a:hover {
	text-decoration: underline;
	color: #1e65c7;
}
div.wrapperProduct > div > div {
	width: 49.36170212765957%;
	height: 30px;
	background: #1e65c7;
	margin: 12px auto;
	border-radius: 7px;
	cursor: pointer;

}
div.callDiv {
	cursor: pointer;
}
div.full div.callDiv {
	float: left;
	margin-top: 35%;
	margin-left: 2.5%;
}
div.full div.callDiv > span,div.full div.callDiv > a {
	margin-top: 18px;
}
div.full div.callDiv > div.exitCall {
	margin-top: 10px;
}
div.wrapperProduct > div > div > span {
	width: 21px;
	height: 15px;
	background: url(../img/basketLittle.png);
	margin-top: 7px;
	margin-left: 17%;
}
div.wrapperProduct > div > div > p {
	padding-top: 5px;
	margin-left: 40%;
	font-size: 107%;
	color: #fff;
}
#threeLineLittle {
	width: 14px;
	height: 11px;
	background: url(../img/threeLineLittle.png);
	background-repeat: no-repeat;
	margin-top:3px;
}
#square {
	width: 14px;
	height: 14px;
	background: url(../img/square.png);
}
	
div.view {
	margin-top: -4px;
}
div.view > p.view {
	float: left;
	padding: 10px;
	background: #f1f5f8;
	margin-top: -5px;
}
div.view > p.first {
	border: 1px solid #dbdbdb;
	border-right:  0;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
div.view > p.last {
	border: 1px solid #dbdbdb;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
div.view > p.view:hover {
	background: #fff;
	cursor: pointer;
}
div.linkProduct {
	width: 22.23634053367217%;
	border: 1px solid #dbdbdb;
	margin-left: 29%;
	border-radius: 7px;
	margin-top: 1350px;
	clear: both;
	margin-bottom: 60px;
}
div.linkProduct > p {
	float: left;
	width: 25%;
	text-align: center;
}
div.linkProduct > p >a {
	color: #868788;
	text-decoration: none;
	font-size: 105%;
}
div.linkProduct >p:hover {
	background: #1e65c7;
	border-radius: 3px; 
	cursor: pointer;
}
div.linkProduct >p:hover >a {
	color: #fff;
}
div.wrapper {
	width: 78.77927608232789%;
	margin-top: 52px;
	margin-left: 7.310149041873669%;
}
div.searchDoctor {
	width: 70.9009009009009%;
	float: left;
	margin-left: 3.423423423423423%;
}
div.searchDoctorBoot {
	width: 64.66576576576577%
}
div.searchDoctor  > p {
	font-size: 115%;
}
div.searchDoctor  > div {
	border-radius: 7px;
	margin-top: 20px
}
div.preDoctor {
	margin-top: 13px;
	background: #f1f5f8;
}
div.preDoctor > img {
	border-top-right-radius: 7px;
	border-top-left-radius:7px;
	width: 152px;
	height: 148px;
	float: left;
}
div.preDoctor > div {
	float: left;
	margin-top: 31px;
	width: 29.47903430749682%;
	margin-left: 2.541296060991105%;
}
p.float {
	float: left;
}
p.lastName {
	font-size: 120%;
}
div.preDoctor > div > p.float {
	margin-top: 12px;
}
div.preDoctor > div  > p.nameDoctor {
	font-size: 120%;
	font-weight: 700;
}
div.preDoctor > div  > span {
	width: 16px;
	height: 16px;
	margin-top: -17px;
	float: left;
	background: url(../img/clock.png);
}
div.preDoctor > div  >p.green {
	margin-left: 8%;
	font-size: 90%;
	margin-top: 40px;
	color: #2aad71;
	clear: both;
}
div.preDoctor >div.button {
	width: 29.60609911054638%;
	float: left;
}
div.preDoctor >div.button >p {
	float: left;
	margin-left: 2%;
	margin-top: 2px;
}
div.preDoctor >div.button > div {
	background: #1e65c7;
	border-radius: 10px;
	cursor: pointer;
	width: 60%;
	margin-top: 15px;
}
div.preDoctor >div.button > div > p{
	margin-left: 27%;
	color: #fff;
	font-size: 110%;
	padding: 10px 0;
}
div.preDoctor >div.button > p.weight {
	font-size: 110%;
	font-weight: 700;
	margin-top: 0;
}

div.preDoctor >div.button > div >span {
	background: url(../img/tick.png);
	width: 23px;
	height: 23px;
	margin-top: 8px;
	margin-left:10%;
}
div.spec {
	width: 25.67567567567568%;
	float: left;
}
div.specBot {
	width: 31.53153153153153%;
}
div.spec > span {
	width: 19px;
	margin-top: 2px;
	height: 19px;
	margin-left: 3%;
	background: url(../img/clear.png);
}
div.spec > p {
	font-size: 120%;
	margin-left: 10%;
}
div.spec > div {
	margin-top: 17px;
	background: #f1f5f8;
	border-radius: 7px;
}
div.centerSpec {
	width: 78.94736842105263%;
	margin: 0 auto;
}
div.centerSpecBoot {
	margin-left: 8.571428571428571%;
}

div.centerSpec > div {
	padding-top: 22px;
}
div.centerSpec > div > p {
	margin-left: 7%;
	font-size: 110%;
}
div.centerSpec > div > span {
	width: 10px;
	margin-top: 7px;
	height: 6px;
}
div.centerSpec > div {
	margin-bottom: 25px;
}
div.centerSpec > div > div {
	margin-top: 20px;
}

div.toogleDiv >p {
	float: right;
	margin-right: 55%;
}
div.centerSpec > div > div > input {
	margin-top: 3px;
}
span.treangleUp {
	background: url(../img/treangleUp.png);
}
span.treangleDown {
	background: url(../img/treangleDown.png);

}
div.toogleDivBoot > p {
	margin-right: 65%;
}
div.toogleDiv > p:hover ,div.toogleDiv > input:active  {
	color: #2aad71;
	cursor: pointer;
}

div.wrapperDocument > div {
	background: #f1f5f8;
	border-radius: 7px;
	margin-top: -9px;
}
div.wrapperCellDocument > div  {
	width: 18%;
	margin: 12px 0;
	margin-left: 1.6%;
	float: left;
	background: #fff;
	cursor: pointer;
	border: 1px solid #f1f5f8 ;
	border-radius: 7px;
}
div.wrapperCellDocument {
	padding-top: 79px;
}
div.wrapperCellDocument  > div:hover {
	border: 1px solid #d5d8db;
	border-bottom: 1px solid #b9bcbf;
	border-top: 1px solid #e8ebee;
}

div.wrapperCellDocument > div > span {
	width: 31px;
	height: 30px;
	margin-top: 33px;
	margin-left: 40%;	
}
div.wrapperCellDocument  > div  p {
	margin: 86px 10%; 
	margin-bottom: 31px;

}
span.pdf{background: url(../img/pdf.png);background-repeat: no-repeat;}
span.doc{background: url(../img/doc.png);background-repeat: no-repeat;}
div.wrapperDocument > div.view {
	background: #fff;
	border-radius: 7px;
	margin-left: 90%;
	margin-bottom: 16px;
}

div.wrapperFormDoc {
	width: 38.92215568862275%;
	border-radius: 7px;
}
div.wrapperFormDoc > span {
	width: ;
	height: ;
}
div.TitileDocument {
	float: left;
	background: #000;
	margin-left: 3%;
}
div.TitileDocument > p{
	background: #fff;
	font-size: 120%;
}
a.back {
	float: left;
}
div.wrapperDocument > p.title {
	margin-left: 2%;
	font-size: 130%;
	margin-top: -1px;
}
div.wrapperDocument > p.grey {
	margin-left: 68%;
	margin-top: 3px;
}

div.titleCell {
	padding-top: 23px;
	padding-bottom:10px;
	margin: 0 auto;
	width: 100%;
	border-bottom:  1px solid #dedede;
}
div.titleCell > p ,div.titleCell >a {
	float: left;
	margin-left: 2%;
}
a.greenA {
	color: #2aad71;
	text-decoration: none;
	border-bottom: 1px dashed ;
}
div.cellDocument2 {
	min-height: 665px;
}
form.search >input[type="search"] {
	border-radius: 7px;
	border: 0;
	padding: 10px 0;
	margin-left: 50%;
	margin-top: -10px;
	border: 1px solid #e9ebed;
	outline: none;
	float: left;
}
form.search >input[type="submit"] {
	border: none;
	width: 14px;
	height: 14px;
	background: url(../img/search.png);
	position: absolute;
	margin-left: 36%;
	outline: none;
}
div.rowDocument2 {
	margin-top: 10px;
}
div.rowDocument2>div > span {
	margin-left: 4%;
}
div.rowDocument2 > div > p ,div.rowDocument2 > div > a  {
	float: left;
	margin: 15px 0;
}
div.rowDocument2 > div.first {
	float: left;
	width: 79.66963151207116%;
}
div.rowDocument2 > div.last {
	float: left;
	width: 20.33036848792884%;
}
div.rowDocument2 > div.last :last-child {
	margin-left: 30%;
}
div.rowDocument2 > div.first > span {
	width: 16px;
	height: 16px;
	margin-top: 15px;
} 
div.rowDocument2 > div.first > a {
	color: #000;
	text-decoration: none;
	margin-left: 1%;
}
.doc2 {background: url(../img/doc2.png);}
.pdf2 {background: url(../img/pdf2.png);}
div.rowDocument2 > div.first > a:hover {
	color: #41b27d;
	text-decoration: underline;
}
div.rowDocument2:nth-child(even) {
	background: #fff;
}
div.wrapperRowDocument2 {
	min-height: 507px;
}
div.wrapperSetting {
	width: 78.77927608232789%;
	margin-left: 7.310149041873669%;
}
p.title {
	float: left;
	font-size: 128%;
}
div.setting {
	margin-top: 23px;
	background: #f1f5f8;
	border-radius: 7px;
}
div.leftSetting > div {
	margin-top: 18px;
}
div.leftSetting:last-child {
	margin-bottom: 30px;
}
div.leftSetting {
	float: right;
	width: 39.56756756756757%;
	margin-top: 15px;
}
div.leftSetting >div > input {
	float: left;
	height: 31px;
	border-radius: 10px;
	outline: none;
	border: 1px solid #dedede; 
}
div.leftSetting >div > input[type="file"] {
	border: 0;
	color: #f1f5f8;
}
div.leftSetting>div  > p {
	float: left;
	margin-top: 5px;

	margin-right: 2%;
}
div.setting >form:last-child {
	margin-right: 2.072072072072072%;
}
div.button {
	float: right;
	margin-top: 28px;
}
div.bootomBasket >p.button,div.wrapper >p.button {
	font-size: 110%;
	background: #1e65c7;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	float: right;
	padding: 7px 2%;
	padding-right: 4%;
	margin-top: 20px;
}
div.wrapper >p.button {
	margin-top: -5px;
}
div.bootomBasket >p.button > span,div.wrapper >p.button  >span {
	width: 23px;
	height: 9px;
	background: url(../img/hrefWhite.png);
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	margin-left: 6%;
	margin-top: 7px;
	position: absolute;
}
div.wrapper >div.button {
	margin-top: -10px;
}
a.buttonA {
	color: #fff;
}
div.wrapper {
	float: left;
	margin-bottom: 68px;
	margin-left: 13%;
}
div.wrapper > div.radius {
	margin-top: 22px;
	border-radius: 10px;
}
div.wrapper > div.radius:last-child {
	border: 0 ;
}
div.wrapper > div.radius >div.cellTable {
	border-right: 1px solid #87baa2;
}
div.wrapper > p {
	margin-top: 20px;
	font-size: 110%;
}
div.medicine {
	margin-top: 22px;
	background: #f1f5f8;
}
div.medicine>div > p , div.medicine >div> a ,div.medicine >div> img ,div.medicine >div> span{
	float:left;
	margin: 40px 0;
	text-align: center;
}
div.medicine>div {
	height: 100px;
	overflow: hidden;
	cursor: pointer;
}
div.medicine>div> img {
	width: 89px;
	height: 68px;
	margin: 15px 0;
	margin-left: 1.261261261261261%;
}
div.radius >p {
	float: left;
	text-align: center;
}
div.radius :nth-child(1) {
	width: 8.49%
}
div.medicine>div :nth-child(2),div.radius :nth-child(2) {
	width: 8.577477477477477%;
}
div.medicine>div :nth-child(3),div.radius :nth-child(3){
	width: 19.54954954954955%;
}
div.medicine>div :nth-child(4),div.radius :nth-child(4) {	
	width: 17.74774774774775%;
}
div.medicine>div :nth-child(5),div.radius :nth-child(5) {
	width: 8.108108108108108%;
}
div.medicine>div :nth-child(6),div.radius :nth-child(6) {
	width: 13.42342342342342%;
}
div.medicine>div :nth-child(7),div.radius :nth-child(7) {
	font-size: 110%;
	font-weight: 700;
	width: 15.40540540540541%;
}
div.radius :nth-child(8){
	width: 8.59%;
	height: 35px;
}
div.medicine>div :nth-child(8) {
	width: 22px;
	cursor: pointer;
	height: 21px;
	margin-left: 3%;
	background: url(../img/exitForm.png);
}
div.medicine>div:hover {
	background: #f8fafc;
}
div.medicine>div > a {
	text-decoration: none;
	color: #74c29c;
}
div.medicine>div:hover a {
	color: #1e65c7;
	text-decoration: underline;
}
div.medicine>div {
	border: 1px solid #dedede;
}
div.bootomBasket {
	float: right;
	width: 90%;
}
div.bootomBasket > p{
	float: left;
	margin-top: 27px;
}
div.medicine>div >p  {
	text-align: center;
}
div.bootomBasket > p:first-child {
	margin-left: 72.5%;
	margin-top: 29px;
}
div.bootomBasket > p:nth-child(2) {
	margin-left: 1%;
	font-size: 120%;
	font-weight: 700;
}
div.button > p{
	color: #fff;
}
div.wrapperRight {
	width: 70.9009009009009%;
	margin-left: 3.423423423423423%;
	float: left;
}
div.wrapperRight>div.back > p.title {
	margin-left: 1.5%;
}
div.bgGrey {
	background: #f1f5f8;
	margin-top: 15px;
	border-radius: 7px
}
div.symptom >div{
	float: left;
}
div.symptom :first-child {
	width: 43.4561626429479%;
}
div.symptom :first-child > span {
	background: url(../img/man.png);
	width:233px;
	height: 456px;
	margin-top: 32px;
	margin-left: 7.242693773824651%;
}
div.mw {
	float: left;
	margin-top: 25px;
}
div.mw > p {
	float: right;
}
div.mw > input {
	float: right;
	margin-top: 3px;
}
div.symptom:last-child{
	width: 53.62134688691233%;
}
div.ulDiv {
	border: 1px solid #dedede;
	width: 50%;
	margin-top: 23px;
	border-radius: 7px;
	height: 466px;
	overflow: scroll;
}
div.symptom >p.comment {
	padding-right: 6%;
	width: 56.5%;
	margin: 23px 0;
	float: right;
}
div.ulDiv > p {
	margin-left: 5%;
}
div.ulDiv  >span {
	background: #000;
}
div.ulDiv > p {
	margin-top: 23px;
}
div.ulDiv > p {
	margin-top: 18px;
}
div.ulDiv  >p > a {
	font-size: 105%;
	color: #000;
	text-decoration: none;
}
div.ulDiv > p > a:hover {
	color: #1e65c7;
	text-decoration: underline;
}
div.pBottom {
	margin-top: 32px;
}
.bolt {
	font-weight: 700;
	margin-right: 3px;
}
div.leftAnalis {
	width: 27.18776550552251%;
	float: left;
	border-radius: 7px;
	margin-left: 6%;
}
div.leftAnalis > div {
	padding-top: 13px;
	width: 100%;
	background: #ecf1f4;
}
div.leftAnalis > div > p.firstP {
	font-size: 110%;
	margin-left: 10%;
	margin-right: 30%;
	padding-top: 27px;
}
div.leftAnalis > div :first-child > span{
 	background: url(../img/whatLittle.png);
 	width: 24px;
 	height: 24px;
 	margin-right: 1%;
 	margin-top: -1px;
}

div.addAnal ,div.delete{
	margin-left: 11%;
	border-radius: 7px;
	width: 29.53846153846154%;
	background: #66c097;
	margin-top: 15px;
	cursor: pointer;
	float: left;
}
div.delete {
	margin-left: 3%;
	width: 26.15384615384615%;
}
div.leftAnalis >div> p.green,div.leftAnalis >div> p.grey {
	margin-left: 10.5%;
	float: left;
	margin-top: 15px;
}
div.addAnal >span ,div.delete >span{
	background: url(../img/add.png);
	width: 10px;
	height: 10px;
	margin-left: 20%;
	margin-top: 10px;
}
div.delete >span{
	background: url(../img/delete.png);
}

p.green {
	color: #68c198;
}
div.leftAnalis >div> p.green {
	margin-left: 1%;
}
div.leftAnalis >div> span {
	width: 16px; 
	height: 16px; 
	background: url(../img/clock.png);
	margin-top: 16px;
	margin-left: 2%;
}
div.addAnal > p ,div.delete > p{
	margin: 5px 0;
	font-size: 105%;
	color: #fff;
	margin-left: 40%;
}

div.delete {
	background: #b6b6b6;
}
div.bottomAnalis {	
	background: #fff;
}
div.bottomAnalis >div {
	margin-top: 29px;
	background: #fff;
}
div.bottomAnalis >div > p {
	float: left;
}
div.bottomAnalis >div > p.grey  {
	margin-right: 2%;
	margin-left: 10.5%;
	margin-top: 1%;
}
div.bottomAnalis >div :nth-child(2) {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
div.bottomAnalis >div :nth-child(3) {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
div.bottomAnalis >div >p.button {
	padding: 1% 2%;	
	margin-top: 0;
	border: 1px solid #dbdbdb;
}
div.bottomAnalis >div >p.active {
	background: #f1f5f8;
}
div.where {
	margin-top: 20px;
	background: #f1f5f8;
	border-radius: 15px;
	margin-left: 3%;
}
div.where:hover {
	border-bottom: 2px solid #c4c4c4;
	height: 156px; 
}
div.where > div > p {
	margin-left: 10.5%;
}
div.where > div > p.green {
	font-size: 120%;
	margin-bottom: 12px;
	padding-top: 22px;
	width: 74.54545454545455%;

}
div.where > div > p.bolt {
	font-size: 125%;
	float: left;
	margin-top: 18px;
	margin-bottom: 20px;
}
div.where > div > span.whereSpan {
	width: 19px;
	height: 25px;
	margin-top: 22px;
	padding-top: 2px;
	text-align: center;
	margin-left: 3%;
	background: url(../img/where.png);
	color: #66c097;
}
div.where > div > div.button {
	float: left;
	margin: 0;
	padding: 0;
	width: 45.69288389513109%;
	margin-left: 10%;
	margin-top: 10px;
}
div.where > div > div.button > p {
	margin-left: 25%;
}

div.problemForm {
	width: 18.9873417721519%;
}
div.problemForm > p{
	text-align: center;
	margin: 0 15% ;
}
div.problemForm>p.first {
	margin-top: 25px;
	font-size: 110%;
}
div.problemForm >p.grey {
	margin-top: 31px;
	margin-bottom: 20px;
}
div.problemForm > form {
	width: 81.40350877192982%;
	margin: 0 auto;
}
div.problemForm > form > p {
	margin-top: 23px;
}
div.problemForm > form >input {
	border-radius: 7px;
	height: 31px;
	margin-top: 11px;
	border: 1px solid #dedede;
}

div.problemForm > form > div {
	width: 46.02510460251046%;
	float: left;
	margin-top: 20px;
}
div.problemForm > form > div >input {
	border-radius: 7px;
	border:1px solid #dedede; 
	margin-top: 10px;
	outline: none;
}
div.problemForm > form :nth-child(2) {
	width: 61.53846153846154%;
}
div.problemForm > form  > textarea {
	max-height: 152px;
	min-height: 152px;
	max-width: 70%;
	min-width: 70%;
	border: 1px solid #dedede;
	border-radius: 7px;
}
div.problemForm > div.button{
	width: 41.75438596491228%;
	margin-right: 33%;
}
div.problemForm > div.button >p {
	margin-left: 30%;
}
div.problemForm > div.button >span {
	background: url(../img/massege.png);
	width: 20px;
	height: 14px;
	margin-top: 14px;
}
div.rightView {
	float: right;
	width: 30%;
	margin-top: -35px;
}
div.rightView > p {
	float: left;
	margin-top: 11px;
}
div.inView {
	margin-left: 20%;
}
div.inView >p  {
	float: left;
	border: 1px solid #dbdbdb;
}
div.inView :first-child {
	padding: 10px 7%;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
} 
div.inView >p.active {
	background: #f1f5f8;
	color: #c1c6cd;
}
div.inView :last-child {
	padding: 10px 4%;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
div.greyDiv {
	margin-top: 17px;
	background: #f1f5f8;
	border-radius: 5px;
	min-height: 662px;
}
div.greyDiv > div.cell{
	float: left;
	width: 40.66073697585769%;
	margin-top: 21px;
	margin-left: 2.922490470139771%;
}
div.greyDiv > div.cell > p {
	background: #66c097;
	padding: 10px 2%;
	color: #fff;
	width: auto;
	border-radius: 7px;
}
div.greyDiv > div.cell>p>span.active {
	border: 8px solid transparent;
	border-top: 5px solid #fff;
	cursor: pointer;
	float: right;
}
div.greyDiv > div.cell> p>span.nonActive {
	border: 8px solid transparent;
	border-bottom: 5px solid #fff;
	cursor: pointer;
	float: right;
}
div.drop >p {
	margin-top: 16px;
	margin-left: 5%;
	width: 40%;
}

div.drop > p > a {
	text-decoration: none;
	color: #000;
}
div.drop {
	margin-bottom: 10px;
}
div.drop > p > a:hover {
	color: #1e65c7;
	text-decoration: underline;
}
div.greyDiv > div.first {
	border-right: 1px solid #e0e0e0;
	padding-right: 1;
	padding-right: 3%;
}
div.drop :last-child {
	margin-bottom: 10px;
}
div.alf {
	color: #66c097;
	margin-left: 3%;
	padding-top: 11px;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 10px;
	width: 94.0279542566709%
}
div.alf > p {
	float: left;
	margin-left:1%;
	font-size: 120%;
	padding: 0.2% 1%;

}
div.alf > p.active {
	background-color: #66c097;
	color: #fff;
	border-radius: 5px;

}
div.veiwAll {
	padding-top: 15px;
	clear: both;
}
div.veiwAll > span {
	background: url(../img/treangleDown.png);
	width: 10px;
	height: 6px;
	margin-left: 2%;
	margin-top: 18px;
	position: absolute;
	cursor: pointer;
}
div.veiwAll > p {
	padding:10px ;
	text-align: center;
	border-radius: 10px;
	background: #f1f5f8;
	width: 22.87166454891995%;
}
div.drop > p.buy {
	text-align: right;
	float: right;
	margin-top: -19px;
	width: 40%;
	display: none;
}
div.drop > span {
	width: 21px;
	height: 15px;
	margin-left: 80%;
	margin-top: -17px;
	display: none;
	background: url(../img/basketBlue.png);
}
div.veiwAll > p > a {
	color: #2aad71;
	text-decoration: none;
	border-bottom: 1px dashed;
}
div.drop >p:hover p.buy  {
	display: block;
}
div.description {
	background: #f1f5f8;
}
div.description > div.leftDescr {
	float: left;
	width:60.86404066073698%;
	margin-left: 2.922490470139771%;
	margin-top: 23px;
}
div.description > div.leftDescr>div {
	margin-top: 20px;
}
div.description > div.leftDescr>div:first-child {
	margin-top: 0;
}
div.description > div.leftDescr>div > p.titleN {
	font-size: 115%;
}
div.description > div.leftDescr>div > p.text {
	margin-top: 18px;
	padding-bottom: 22px;
	border-bottom: 1px solid #e0e0e0;
}
div.description > div.leftDescr :last-child >p.text{
	border: 0;
}
.green {
	color: #2aad71;
}
span.green {
	margin: 0 2px;
}
div.descrImg > img {
	height: 140px;
	width: 125px;
	margin-left: 20%;
	margin-top: 21px;
}
div.descrImg {
	width: 30.62261753494282%;
	margin-left: 3.811944091486658%;
	background: #fff;
	float: left;
	border-radius: 7px;
	margin-top: 22px;
}
form.find {
	float: left;
	margin-left: 3.7%;
	margin-top: 21px;
}
form.find > input {
	border-radius: 5px;
	outline: none;
	background: #f1f5f8;
	border: 1px solid #e9ebed;	
	
}
div.descrImg > p {
	margin-left: 10%;
	margin-bottom: 22px;
}
form.find >input[type="search"] {
	float: left;
	outline: none;
	height: 32px;
	width: 120%;
}
form.find >input[type="submit"]  {
	border: none;
	width: 14px;
	height: 14px;
	background: url(../img/search.png);
	float: right;
	margin-top: -23px;
	margin-right: -12%;
	outline: none;
}
div.back > p.rightTitle {
 float: right;
 margin-left: 1%;
 margin-top: 3px;
 font-size: 105%;
}
div.cellRefill{
	background: #f1f5f8;
	margin-top: 26px;
	border-radius: 7px;
}
div.reffil > div.first {
	margin-top: 18px;
}
div.cellRefill > div {
	margin-left: 2.702702702702703%;
}
div.rowRefill {
	float: left;
	width: 12.34234234234234%;
	margin-right: 1.441441441441441%;
	margin-bottom: 26px;
}
p.titleReffil {
	font-size: 107%;
	padding-top: 28px;
}
div.rowRefill >img {
	width: 137px;
	height: 136px;
	margin-top: 30px;
	border-radius: 7px;
}
p.inIMgRefill {
	position: absolute;
	margin-top: -55px;
	margin-left: 102px;
	padding: 7px;
	color: #fff;
	background: #66c097;
	border-radius: 5px;
}
div.addSsve >span {
	width: 35px;
	height: 35px;
	background: url(../img/exitBig.png);
	margin-top: 55px;
	margin-left: 45%;
}
span.borderCalendar {
	
}
div.addSsve >p.grey {
	clear: both;
	text-align: center;
	padding: 10px 30%;
	padding-bottom: 0;
}
div.addSsve > p.add {
	text-align: center;
	color: #fff;
	background: #66c097;
	width: 49.82456140350877%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 63px;
	padding: 10px 0;
	border-radius: 7px;
}
div.addSsve > p.add >span {
	width: 17px;
	height: 16px;
	position: absolute;
	margin-left: -3%;
	margin-top: 1px;
	text-align: left;
	background: url(../img/addSave.png);
}
div.tableMed {
	width: 60%;
	min-height: 530px;
	float: left;
	border-radius: 7px;
	margin-top: 15px;
	background: #f1f5f8;
}
div.tableMed >div.cell > div{
	float: left;
}
div.tableMed >div.cell:hover {
	background: #f8fafc;
}
div.tableMed >div.first:hover {
	background: #96ceb4;
}
div.tableMed >div.cell > div.one {
	width: 12.3644251626898%;
}
div.tableMed >div.cell > div.two {
	width: 17.24137931034483%;
}
div.tableMed >div.cell > div.two > p {
	color: #2aad71;
}
div.tableMed >div.first > div.two > p {
	color: #fff;
}
div.tableMed >div.cell > div.thre {
	width: 69.39655172413793%;
}
div.tableMed >div.cell > div.thre > p > a {
	color: #000;
	text-decoration: none;
}
div.tableMed >div.cell > div.thre > p > a:hover {
	text-decoration: underline;
	color: #1e65c7;
}
div.tableMed >div.cell {
	border: 1px solid #e0e0e0;
	margin-top: 0;
	border-top: 0;
}
div.tableMed >div.first {
	background: #96ceb4;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
div.tableMed >div.cell > div > p {
	text-align: center;	
	padding: 12px 0;
}
div.tableMed >div.first >div > p {
	color: #fff;
	padding: 12px 0;
}
div.wrapperInf {
	width: 36.21346886912325%;
	float: right;
	margin-top: -21px;
}
div.wrapperInf > span {
	width: 20px;
	height: 19px;
	background: url(../img/inf.png);
}
div.wrapperInf  > p {
	font-size: 110%;
	margin-left: 2%;
}
div.inf {
	margin: 0;
	padding: 0;
	clear: both;
}
div.inf > div {
	width: 30%;
	height: 72px;
	border: 1px solid #dbdbdb;
	border-radius: 7px;
	margin-top: 33px;
	float: left;
	margin: 0;
	margin-left: 2%;
	margin-top: 13px;
}
div.inf > div > a > span {
	width: 30px;
	height: 30px;
	margin-left: 35%;
	margin-top: 15px;
}
div.inf > div:hover {
	border: 1px solid #88a7d2;
}
div.inf > div > p {
	text-align: center;
}
#inf1 {background: url(../img/inf1.png); background-repeat: no-repeat;}
#inf2 {background: url(../img/inf2.png); background-repeat: no-repeat;}
#inf3 {background: url(../img/inf3.png); background-repeat: no-repeat;}
#inf4 {background: url(../img/inf4.png); background-repeat: no-repeat;}
#inf5 {background: url(../img/inf5.png); background-repeat: no-repeat;}
#inf6 {background: url(../img/inf6.png); background-repeat: no-repeat;}
#inf7 {background: url(../img/inf7.png); background-repeat: no-repeat;}
#inf8 {background: url(../img/inf8.png); background-repeat: no-repeat;}
#inf9 {background: url(../img/inf9.png); background-repeat: no-repeat;}

#book {
	width: 15px;
	height: 18px;
	background: url(../img/book.png);
	margin-top: 35px;
}
div.wrapperInf  > p.title2 {
	margin-top: 35px;
	margin-left: 8%;
}
div.council {
	background: #f1f5f8;
	height: 246px;
	margin-top: 20px;
	border-radius: 7px;
}
div.council > p.titleCouncil {
	padding-top: 21px;
	margin-left: 9%;
	margin-right: 40%;
}
div.council > p.titleCouncil > a {
	color: #2aad71;
}
div.council > p.text {
	margin: 18px 10% 0 9%;
}
div.tableCond {
	width: 100%;
}
div.tableCond > div.cell > div.one {width: 11.05463786531131%;}
div.tableCond > div.cell > div.two {width: 12.32528589580686%;}
div.tableCond > div.cell > div.thre {width: 37.35705209656925%;}
div.tableCond > div.cell > div.four {width: 18.55146124523507%;}
div.tableCond > div.cell > div.five {width: 20.20330368487929%;}
span.mometer {background: url(../img/mometer.png);background-repeat: no-repeat;}
span.нeart2 {background: url(../img/нeart2.png);background-repeat: no-repeat;}
span.нeart2 ,span.mometer {
	width: 30px;
	height: 30px;
	margin-left: 35%;
	margin-top: 5px;
}
div.five > span {
	position: absolute;
	margin-left: 3.3%;
	margin-top: 16px;
}
span.red {
	width: 10px;
	height: 10px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;                           /* ЭТО ДЛЯ ИЗМЕНЕНИЯ СОСТОЯНИЯ С OFLINE НА ONLINE*/
	border-radius: 10px;
	background: #dd563b;
}
div.product {
	width: 70.40110395584177%;
	float: left;
}
div.product >div.leftProduct {
	width: 55.52731893265565%;
	float: left;
}
div.product >div.leftProduct >div> img {
	width: 93.1350114416476%;
	height: 372px;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}
div.product >div.leftProduct >div >span {
}
div.product >div.leftProduct >div >span.next {
	
}
div.product >div.leftProduct >div >span.back {
	
}
div.product >div.leftProduct >img {
	width: 55px;
	height: 51px;
	float: left;
	margin-left: 1%;
}
div.product >div.leftProduct >img:hover {
	border: 3px solid #65bf95;
	cursor: pointer;

}
div.product >div.leftProduct >img.first {margin-left: 0;}
div.features {
	clear: both;
	margin-top: 75px;
	background: #f1f5f8;
	border-radius: 7px;
}
div.features > p {
	clear: both;
}
div.features > p.title {
	margin-top: 23px;
	margin-bottom: 10px;
}
div.features > p {
	margin-top: 13px;
	margin-left:4%;
}
div.features >div {
	margin-top: 41px;
}
div.features >div> p {
	clear: both;
	margin-left: 4%;
	margin-top: 13px;
}
div.product > div.rightProduct {
	width: 44.47268106734435%;
	float: right;
	margin-top: -20px;
}
div.product > div.rightProduct>div.text > p {
	margin-top: 15px;
}
div.product > div.rightProduct> div.nal{
	margin-top: 30px;
}
div.nal > p {
	float: left;
	margin: 0;
	background: #f1f5f8;
}
div.nal > p.bolt {
	font-size: 110%;
	padding: 22px 0;
	padding-right: 4%;
	padding-left: 3%;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
div.nal > p.green {
	padding-top: 24px;
	padding-bottom: 23px;
	padding-right: 3%;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
div.symptom >div>form >p {
	float: left;
	width: 50%;
}
div.symptom >div>form {
	margin-left: 15%;
	margin-bottom: 30px;
}
div.symptom >div>form >p {
	margin-top: 50px;
}
div.symptom >div>form >p> input {
	display: none;
}
label.gender {
	display: inline-block;
	cursor: pointer;
	float: left ;
	margin-right: 5%;
	margin-top: -1px;
}
label.gender:before {
	display:block;
	width: 19px;
	height: 19px;
	cursor: pointer;
	border: 1px solid #64bf94;
	border-radius: 100px;
	content: "";
}
input.gender[type=radio]:checked + label:before {
	color: #64bf94;
	content: "\2022";
	text-align: center;
	line-height: 20px;
	font-size: 30px;
}
div.purch > p {
	padding: 10px 3%;
	background: #1e65c7;
	display: inline-block;
	color: #fff;
	border-radius: 7px;
	margin-top: 12px;
}
div.wrapperGadget div.mtop {
	margin-top: 170px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -5px;
}
div.similar {
	background: #f1f5f8;
	margin-top: 970px;
	border-radius: 7px;
}
div.similar > p {
	padding-top: 28px;
	margin-left: 2.922490470139771%;
	font-size: 120%;
}
div.similar > div {
	margin-left: 2.722490470139771%;
	margin-top: 24px;
	background: #fff;
	float: left;
	width: 29.73316391359593%;
	margin-bottom: 26px;
	border-radius: 7px;
}
div.similar > div > img {
	height: 195px;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}
div.similar > div > p {
	text-align: center;
}
div.similar > div > p.green {
	font-size: 120%
}
div.similar > div > p.grey{
	font-size: 90%;
}
div.similar > div > p.bolt {
	margin-top: 15px;
	font-size: 120%;
}
div.similar > div >div.purch > p {
    margin-left: 34%;
    margin-top: 14px;
    margin-bottom: 33px;
}
div.navigation {
	width: 78.99214109926169%;
	background: #f1f5f8;
	float: left;
	margin-top: 38px;
	border-radius: 7px;
	margin: 38px 0 56px 12.8%;

}

div.navigation >form  >p{
	background: #66c097;
	display: inline-block;
	color: #fff;
	padding: 15px 2%;
	float: left;
	font-size: 110%;
	border-right: 1px solid #59a884;
}
div.navigation >form  >p.first {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	clear: both;
}
div.navigation >form  >p.active {
	background: #4caf78;
	cursor: pointer;
}
div.navigation >form  >p >span {
	width: 17px;
	height: 17px;
	position: absolute;
	background: url(../img/exitFind.png);
	margin-top: -23px;
	margin-left: 3%;
}
div.navigation >form >span {
	width: 18px;
	height: 25px;
	background: url(../img/mic.png);
	position: absolute;
	margin-left: 74%;
	margin-top: 12px;
	cursor: pointer;
}
div.navigation >form > div>input[type='text'] {
	background: #f1f5f8;
	width: 20%;
	height: 51px;
	border: 0;
	outline: none;
	margin-left: 1%;
	font-size: 110%;
}
div.navigation >form > input[type='submit'] {
	background: url(../img/searchBig.png); width: 22px ;height: 22px;
	outline: none;
	border: 0;
	position: absolute;
	margin-left: 76%;
	margin-top: 13px;
	cursor: pointer;
}
div.navigation >form > div>div.tip {
	background: #f1f5f8;
	width: 16.12612612612613%;
	position: absolute;
	margin-top: 500px;
	border-radius: 7px;
}
div.navigation >form > div>div.tip >p {
	margin-top: 7px;
	margin:7px 0 7px 10%;
}
div.navigation >form > div>div.tip >p > a {
	color: #000;
	text-decoration: none;
}
div.navigation >form > div>div.tip >p > a:hover {
	text-decoration: underline;
	color: #1e65c7;
}
div.navigation >form >div>div.tip2 {
	width: 30.45045045045045%;
	position: absolute;
	background: #f1f5f8;
	margin-top: 7px;
	border-radius: 7px;
}
div.navigation >form >div>div.tip2 >p {
	text-align: center;
	padding: 18px 0;
}
div.navigation >form >div>div.tip2 >p>a {
	color: #1e65c7;
}
div.navigation >form >div>div.tip2 >span {
	position: absolute;
	width: 19px;
	height: 19px;
	background: url(../img/exitGrey.png);
	margin-top: 33px;
	margin-left: 18%;
}
p.border {
	border-bottom: 1px solid #e0e0e0;
}
div.navigation >form >div>div.tip2 >p.font {
	font-size: 110%;
	border-bottom: 1px solid #e0e0e0;
	padding: 26px 18%;
}
div.navigation >form >div>div.tip2 >p.tutleTip {
	text-align: left;
	padding: 21px 10%;
	padding-bottom: 0;
}
div.navigation >form >div>div.tip2 >div {
	margin:0 auto;
	margin-top: 17px;
	padding-bottom: 22px;
	border-bottom: 1px solid #e0e0e0;
}
div.navigation >form >div>div.tip2 >div > p {
	background: #66c097;
	width: 85%;
	margin:0 auto;
	margin-top: 10px;
	padding: 4% 9px;
	color: #fff;
	cursor: pointer;
	border-radius: 7px;
}
div.navigation >form >div>div.tip2 >div > p:hover {
	background: #1e65c7;
}
div.leftAnalis > span {
	background: url(../img/scopGreen.png);
	width: 25px;
	height: 37px;
	margin-left: 6%;
}
div.leftAnalis > p.title {
	margin-left: 2%;
	margin-top: 6px;
}
div.leftAnalis {
	padding-top: 14px;
	border-top: 1px solid #dbdbdb;
}
div.whereAnalis {
	border-top: 1px solid #dbdbdb;
	clear: both;
	min-height: 658px;
	margin-top: 50px;
}
div.whereAnalis :last-child {
	border: 0;
}
div.whereAnalis >div :nth-child(2){
	margin-top: 22px;
}
div.whereAnalis >div :last-child{
	margin-bottom: 22px;
}
div.whereAnalis >div >p {
	margin-left: 10%;
}
span.downMargin {
	margin-left: 5%;
}
div.whereAnalis > div {
	border-bottom: 1px solid #d0d3d4;
}
div.whereAnalis > div >span {
	width: 10px;
	height: 6px;
	margin-top: 5px;
	cursor: pointer;
}
div.whereAnalis > div >input {
	border: 1px solid #d0d3d4;
	margin-bottom: 21px;
	border-radius: 7px;
	margin-left: 6%;
	height: 30px;
	margin-top: 12px;
	width: 84.61538461538462%;
}
div.whereAnalis >div >p.stret {
	padding: 10px 4%;
	padding-right: 15%;
	border-radius: 7px;
	margin-left: 4%;
	margin-top: 12px;
	background: #66c097;
	display: inline-block;
}
div.whereAnalis >div > form >input[type="checkbox"]{
	display: block;
	float: left;
	margin-top: -15px;
	margin-left: 5.5%;
}
div.whereAnalis >div > form > p.active {
	color: #64bf94;
}
div.whereAnalis >div > form > p{
	margin-left: 10%;
	margin-top: 17px;
}
div.wrapperDocument >p.grey{
	font-size: 100%;
	float: left;
}
div.dop {
	width: 20.6461780929866%;
	position: absolute;
}
div.dop>p.green {
	font-size: 105%;
}
div.dop>p {
	padding: 0 4%;
	margin-top: 8px;
}
div.dop > p.href {
	margin-top: 20px;
	padding: 10px 7%;
	margin-left: 4%;
	display: inline-block;
	clear: both;
	border-radius: 7px;
	padding-right: 15%;
	border: 1px solid #cacaca;
}
div.dop > p.href > a {
	text-decoration: none;
	color: #57b989;
}
div.dop > p.href > a >span {
	background: url(../img/href.png);
	width: 19px;
	height: 5px;
	position: absolute;
	margin-left: 15%;
	margin-top: -11px;
}
div.dop>p.absac {
	margin-top: 21px;
}
div.dop2 {
	margin-left: 22%;
	position: absolute;
	width:  20.6461780929866%;
	margin-top: 108px;
}
.blue {
	color: #1e65c7;
	font-size: 110%;
}
div.dop2 :nth-child(2) {
	margin-top: 17px;
}
div.dop2 >p {
	margin-top: 11px;
}
div.dop2 >p.grey {
	float: left;
}
div.dop2 >p>span {
	width: 16px;
	margin-top: 2px;
	height: 20px;
	margin-right: 2%;
	background-repeat: no-repeat;
}
span.clock {background: url(../img/clockLittle.png);}
span.gps {background: url(../img/gps.png);}
span.phone {background: url(../img/phoneLittle.png);}
div.dop2 >div {
	float: left;
	margin-top: 9px;
	margin-left: 4%;
}
div.dop2 >div>span.star {
	margin:0;
	background: url(../img/starNonActive.png);
	padding-left: 1%;
	width: 23px;
	height: 21px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
}
div.dop2>div>span.active {
	background: url(../img/starActive.png);
	background-repeat: no-repeat;
}
div.dop2 > p.ul {
	clear: both;
	padding-top: 21px;
	font-size: 110%;
	border-top: 1px solid #dbdbdb;
}
div.dop2 >p> a {
	color: #1e65c7;
}
div.basement {
	width: 93.9344%;
	background: #f1f5f8;
	float: right;

}
div.basement >div.phone {
	padding-top: 44px;
	float: left;
	margin-bottom: 39px;
	margin-left: 2.806122448979592%;
}
div.basement >div.phone >span {
	background: url(../img/phoneVery.png);
	width: 41px;
	height: 41px;
	position: absolute;
	cursor: pointer;
	border-right: 1px solid #d1d1d1;
	padding-right: 13%;
	background-repeat: no-repeat;
}
div.basement >div.phone >p {
	font-size: 110%;
	margin-left: 50%;
}
div.basement>p.copyright {
	margin-left: 7%;
	padding-top: 48px;
	font-size: 90%;
	color: #5e6e81;
	width: 12%;
	float: left;
}
div.basement>div.soc {
	float: right ;
	margin-right: 1.803738317757009%;
	margin-top: 38px;
	width: 36.4%;
}
div.basement>div.soc >span {
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	cursor: pointer;
	margin-left: 0.5%;
}
span.massegeSoc {background: url(../img/massegeSoc.png);}
span.skype {background: url(../img/skype.png);}
span.viber {background: url(../img/viber.png);}
span.whatsapp {background: url(../img/whatsapp.png);}
span.vk {background: url(../img/vk.png);}
span.twiter {background: url(../img/twiter.png);}
span.inotknow {background: url(../img/inotknow.png);}
span.ok {background: url(../img/ok.png);}
span.google {background: url(../img/google.png);}
span.fecebook {background: url(../img/fecebook.png);}
div.rightAnalis {
	float: left;
	width: 66.74%;
	background: #ddd;
	height: 678px;
}
div.wrapperAnalis {
	padding: 0;
	margin-top: -14px;

}
p.TitileDocument {
	float: left;
}
a.back {
	color: #2aad71;
	float: left;
	margin: 0;
	padding: 0;
}
div>p.black {
	color: #000;
}
div.toogleDiv > form > p {
	margin-top: 10px;
}
div.toogleDiv > form > p >label.gender:before {
	width: 10px;
	height: 10px;
	margin-top: 4px;
}
div.toogleDiv > form > p >input.gender[type=radio]:checked + label:before {
	font-size: 25px;
	line-height: 12px;
}
input.check[type="checkbox"]{
	display: none;
}
label.check {
	margin-left: 10%;
}
label.check:before {
	content: "";
	display: inline-block;
	width: 26px;
	height: 26px;
	background: #66c097;
	margin-right: 3%;
	padding: 0;
	margin-left: -2%;
	position: absolute;
}
input.check[type=checkbox]:checked + label:before {
	content: "\2713";
	position: absolute;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
div.chatFull {
	width: 100%;
	margin: 0;
	float: left;
}
div.fullVideo >div.callDiv {
	margin-top: 140vh;
}
div.menu2 {
	position: absolute;
	width: 20.53333333333333%;
	margin-top: 90px;
	margin-left: 6%;
	background: #66c097;
}
div.menu2 > p {
	font-size: 130%;
	color: #fff;
	cursor: pointer;
	margin-top: 28px;
}
div >div.nav2 {
	margin-top: -95px;

}
div >div.nav2 > a >span{
	margin:6px 0;
}
#activeLeftMenu {
	width: 31px;
	cursor: pointer;
	height: 22px;
	margin: 34px 30%;
	display: block;
	background: url(../img/threLineActive.png); 
}
div.docForm1 {
	width: 35.66666666666667%;
	background: #f1f5f8;
	border-radius: 7px;
}
span.loc {
	width: 16px;
	height: 17px;
	margin-left: 1%;
	margin-top: 22px;
	position: absolute;
	background: url(../img/loc.png);
}
div.docForm1 > p.titleDoc {
	margin-left: 7%;
	padding-top: 22px;
}
div.docForm1 > span.exit {
	width: 22px;
	height: 21px;
	position: absolute;
	cursor: pointer;
	margin-top: -20px;
	margin-left: 32%;
	background: url(../img/exitForm.png);
}
div.docForm1 >div> span {
	width: 7px;
	height: 7px;
	background: #b5bb15;
	position: absolute;
	margin-top: 21px;
	border-radius: 10px;
	margin-left: 4.3%;
}
div.docForm1 >div> img {
	width: 32px;
	height: 32px;
	margin: 22px 0;
	margin-left: 8%;
	float: left;
	border-radius: 100px;
}
div.docForm1 >div {
	background: #f8fafc;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	margin-top: 14px;
}
div.docForm1 >div> p {
	margin-top: 27px;
	float: left;
	margin-left: 1%;
	display: inline-block;
	width: 36.5%;
}
div.docForm1 >div >span.exit {
	background: url(../img/exitPop.png);
	width: 10px;
	cursor: pointer;
	height: 12px;
	margin-top: 30px;
}
div.docForm1 >div> p.button {
	margin-top: 22px;
	width: 26.7%;
}
div.docForm1 > form >span{
	background: url(../img/user.png);
	width: 12px;
	height: 16px;
	position: absolute;
	margin-top: 29px;
	margin-left: 4%;
}
div.docForm1 > form > input {
	margin: 21px 0;
	margin-left: 10%;
	border: 1px solid #dedede;
	outline: none;
	float: left;
	height: 32px;
	padding-left: 4%;
	border-radius: 7px;
}
p.button {
	float: left;
	padding:  6px 2%;
	padding-right: 7%;
	color: #fff;
	border-radius: 7px;
	margin-top: 21px;
	cursor: pointer;
	margin-left: 5%;
	background: #1e65c7;
}
p.button >span {
	background: url(../img/toggle.png);
	width: 7px;
	height: 4px;
	position: absolute;
	margin-left: 7.2%;
	margin-top: -10px;
}
div.docForm2 {
	width: 39%;
	background: #f1f5f8;
	border-radius: 7px;
}
div.docForm2 > span {
	position: absolute;
}
div.docForm2 > p {
	padding-top: 27px;
	margin-bottom: 17px;
	margin-left: 10%;
	font-size: 110%;
}
div.docForm2 > span.back {
	width: 16px;
	height: 15px;
	cursor: pointer;
	margin-top: 29px;
	margin-left: 2.3%;
	background: url(../img/done.png);
}
div.docForm2 > span.exit {
	width: 22px;
	height: 21px;
	margin-left:35%;
	margin-top: 25px;
	cursor: pointer;
	background: url(../img/exitForm.png);
}
div.docForm2 >form {
	border-top: 1px solid #dedede;
	padding-top: 20px;
}
div.docForm2 >form >input{
	border: 1px solid #dedede;
	outline: none;
	float: left;
	border-radius: 7px;
	width: 58.29059829059829%;
	height: 29px;
	padding-left:  2%;
	margin-left: 6%;
}
div.docForm2 p.button {
	margin-top: 0px;
	padding-right: 2%;
	margin-bottom: 23px;
	margin-left: 1%;
}