<html>
<head>
  <title>PeerJS - Video chat example</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/peer.js"></script>
  <script type="text/javascript" src="/static/js/jquery.xmpp.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
    // and override the original config object
    var customConfig;
      
    // Call XirSys ICE servers
    $.ajax({
      url: "https://service.xirsys.com/ice",
      data: {
        ident: "iliyaz",
        secret: "96a2187e-9cba-11e6-b1f1-afc50e4e783a",
        domain: "my.my_doctor.com",
        application: "mydoctor",
        room: "docs",
        secure: 1
      },
      success: function (data, status) {
        // data.d is where the iceServers object lives
        customConfig = data.d;
        console.log(customConfig);
      },
      async: false
    });
    console.log(customConfig);
      var myStream;
    // Compatibility shim
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
    // PeerJS object
    var peer = new Peer('doc', { 
      key: '6up59h5ta9x2bj4i', 
      debug:3, 
      config: customConfig
      });
    peer.on('open', function(){
      $('#my-id').text('');
    });
    // Receiving a call
    peer.on('call', function(call){
        document.getElementById('callDiv').style.display = 'block';
        document.getElementById('my-video').style.display = 'block';
      // Answer the call automatically (instead of prompting user) for demo purposes
      call.answer(window.localStream);
      step3(call);
    });
    // peer.reconnect(true)
    // peer.on('disconnected', function() {
    //      peer.reconnect(true)
    //   });
    peer.on('error', function(err){
      alert(err.message);
      // Return to step 2 if error occurs
      step2();
    });

    // Click handlers setup
    $(function(){
      $('#make-call').click(function(){
          document.getElementById('callDiv').style.display = 'block';
          document.getElementById('my-video').style.display = 'block';
        // Initiate a call!
        var call = peer.call($('#callto-id').val(), window.localStream);
        step3(call);
      });
      $('#end-call').click(function(){
          peer.disconnect(true);
          document.getElementById('callDiv').style.display = 'none';
          document.getElementById('my-video').style.display = 'none';

        window.existingCall.close();
        step2();
      });
      // Retry if getUserMedia fails
      $('#step1-retry').click(function(){
        $('#step1-error').hide();
        step1();
      });
      // Get things started
      step1();
    });
    function step1 () {
      // Get audio/video stream

      navigator.getUserMedia({audio: true, video: true}, function(stream){
        // Set your video displays
          myStream = stream;
        $('#my-video').prop('src', URL.createObjectURL(stream));
        window.localStream = stream;
        step2();
      }, function(){ $('#step1-error').show(); });
    }
    function step2 () {
      $('#step1, #step3').hide();
      $('#step2').show();
    }
    function step3 (call) {
      // Hang up on an existing call if present
      if (window.existingCall) {
        window.existingCall.close();
      }
      // Wait for stream on the call, then set peer video display
      call.on('stream', function(stream){
        $('#their-video').prop('src', URL.createObjectURL(stream));
      });
      // UI stuff
      window.existingCall = call;
      $('#their-id').text(call.peer);
      call.on('close', step2);
      $('#step1, #step2').hide();
      $('#step3').show();
    }
{#    var video_button = document.getElementById('lock_unlock_video');#}
    function lock_unlock_video(){
      myStream.getVideoTracks()[0].enabled = !(myStream.getVideoTracks()[0].enabled);
    }
    function lock_unlock_audio(){
      myStream.getAudioTracks()[0].enabled = !(myStream.getAudioTracks()[0].enabled);
    }
      function fullscren_onclick() {
        document.getElementById('video-container').style.width = '100%';
        document.getElementById('chat_div').style.width = '0';
        document.getElementById('n_screen').style.display = 'block';
        document.getElementById('f_screen').style.display = 'none';
      }
      function normalscren_onclick() {
        document.getElementById('video-container').style.width = '66.66666667%';
        document.getElementById('chat_div').style.width = '33.33333333%';
        document.getElementById('n_screen').style.display = 'none';
        document.getElementById('f_screen').style.display = 'bock';
      }
  </script>
    <script type="text/javascript" >
    $(document).ready(function(){
        var jid = $("#jid").val();
        var password = $("#pass").val();
        var logContainer = $("#log");
        var contactList = $("#contacts");

        //An example of bosh server. This site is working but it can change or go down.
        //If you are going to have a production site, you must install your own BOSH server
        var url ="http://bosh.metajack.im:5280/xmpp-httpbind";
        $.xmpp.connect({url:url, jid: 'timurbek@xmpp.jp', password: 'timur12345',
          onConnect: function(){
            logContainer.html("Connected");
            $.xmpp.setPresence(null);
          },
          onPresence: function(presence){
          },
          onDisconnect: function(){
            logContainer.html("Disconnected");
          },
          onMessage: function(message){
            var audio = new Audio('/static/Cool Notification 20.mp3');
            audio.play();
            var jid = message.from.split("/");
            var id = MD5.hexdigest(message.from);
            var conversation = $("#"+'12345');
            conversation.find(".conversation").append("<div class='comment' style='float: none; padding-top: 0'>"+
                                                            "<img src='https://pp.vk.me/c631319/v631319868/21f18/dytr25o3JEs.jpg'>" +
                                                            "<div class='textDiv'>"+
                                                                "<p class='login'>"+jid[0]+"</p>" +
                                                                "<p class='time'>10:21</p>"+
                                                                "<br><p class='text'>"+ message.body +"</p>"+
                                                            "</div>"+
                                                        "</div>");
          },onError:function(error){
            alert(error.error);
          }
        });

      $("#sendBut").click(function(){
        var body_msg = document.getElementById('input_msg').value;
        var conversation = $("#"+'12345');
        $.xmpp.sendMessage({body: body_msg, to:"iliyaz@xmpp.jp", resource:"MyChat", otherAttr:"value"},
            "<error>My custom error</error>",function(){ conversation.find(".conversation").append("<div> Я: " + body_msg +"</div>") });
        document.getElementById('input_msg').value = '';
      });

      $("#disconnectBut").click(function(){
        $.xmpp.disconnect();
      });

    });
    </script>
</head>
<body style="background-color: #8c8c8c">

  <div class="pure-g">

      <!-- Video area -->
      <div class="pure-u-2-3 col-md-8" id="video-container" style="padding-right: 0; padding-left: 0; width: 66.66666667%;">
            <video id="their-video" autoplay style="width: 100%; position: absolute;"></video>
            <video id="my-video" autoplay style="width: 100px; height: 100px; position: absolute; margin-left: 2%; margin-top: 1%; display: none"></video>

      <!-- Get local audio/video stream -->
      <div style="position: absolute; margin-top: 65%; margin-left: 22%;">
            <div class="callDiv" id="callDiv" style="display: none; width: 500px; margin: 0;">
            <span style="margin-top: 3%; display: block" class="callSpan" id="span1" onclick="fullscren_onclick()"></span>
            <span style="margin-top: 3%; display: block" class="callSpan" id="span2" onclick="lock_unlock_video()"></span>
            <span style="margin-top: 3%" class="callSpan" id="span3" onclick="lock_unlock_audio()"></span>
            <span style="margin-top: 3%" class="file"></span>
            <a style="margin-top: 3%" href="" class="fileA">Прикрепить файл</a>

            <div class="" style="">
                <a href="#" style="margin-left: 20%; margin-top: 1.5%" class="btn btn-danger" id="end-call">Завершить званок</a>
{#                <span class="exit"></span>#}
            </div>

          </div>

        <div id="step1">
          <p>Please click `allow` on the top of the screen so we can access your webcam and microphone for calls.</p>
          <div id="step1-error">
            <p>Failed to access the webcam and microphone. Make sure to run this demo on an http server and click allow when asked for permission by the browser.</p>
            <a href="#" class="pure-button pure-button-error" id="step1-retry">Try again</a>
          </div>
        </div>

                  <!-- Make calls to others -->
          <div id="step2" style="margin-left: 200px">
              <div class="pure-form">
                <input type="hidden" value="pat-2017" placeholder="Call user id..." id="callto-id">
                <a href="#" class="pure-button pure-button-success btn btn-primary" id="make-call">Позвонить</a>
              </div>
          </div>

{#        <!-- Call in progress -->#}
{#          <div id="step3">#}
{#              <p>Currently in call with <span id="their-id">...</span></p>#}
{#              <p><a href="#" class="pure-button pure-button-error btn btn-danger" id="end-call">Завершить званок</a></p>#}
{#          </div>#}
      </div>
      </div>

      <!-- Steps -->
      <div class="pure-u-1-3 col-md-4" id="chat_div" style="padding-left: 0; padding-right: 0; width: 33.33333333%;">
        <div class="right" style="width: 100%; height: 100%; margin-top: 0">
	        <div>
                <div class="wrapperComment" style="max-height: 540px">
                    <div style='height: 80%; width: 100%; border: 1px solid #000000; float:left' id='12345'>
                        <div style='border: 1px solid #000000;'></div>
                        <div style='height:150px;overflow: auto;' class='conversation'>
                            {# her will go msg #}
                        </div>
                    </div>

                </div>
			</div>
        <div class="bottomAsk">
                <textarea style="height: 80px; width: 300px; margin-left: 20px" id="input_msg"></textarea>
                <button id="sendBut" class="btn btn-primary">Отправить</button>
        </div>


		</div>
      </div>
      </div>
  </div>


</body>
</html>