<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ панель</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
</head>
<body style="background-color: rgba(154, 154, 154, 0.33)">
<h1 style="text-align: center">Добропожаловать в админ панель {{ user }}!</h1>
    <div class="col-md-2"></div>
    {% for pat in pat %}
        {% if pat.name == user %}
            <script type="text/javascript" src="/static/js/patsient.js"></script>
            {% for doc in doc %}
                <div class="col-md-8" style="height: 150px; background-color: #2aabd2; border-radius: 5px; margin-top: 5%">
                    <div class="col-md-2" style="padding-left: 0; padding-right: 0; margin-top: 5px">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Image_of_none.svg"height="140" >
                    </div>
                    <div class="col-md-8" style="margin-top: 5%">
                        <p style="">Имя доктора: {{ doc.name }}</p>
                    </div>
                    <a href="/pat_chat_room" onclick="sendRequest()" class="btn-primary btn" style="margin-top: 12%; margin-left: 5%">Видео чат</a>
                </div>

            {% endfor %}
        {% endif %}
    {% endfor %}
{% for doc in doc %}
    {% if doc.name == user %}
        <script>
    // Compatibility shim
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
    // PeerJS object
    var peer = new Peer('doc-1122345678', { key: '6up59h5ta9x2bj4i'});
    peer.on('open', function(){
      $('#my-id').text('');
    });
    // Receiving a call
    peer.on('call', function(call){
      // Answer the call automatically (instead of prompting user) for demo purposes
      call.answer(window.localStream);
      step3(call);
    });
    peer.on('error', function(err){
      alert(err.message);
      // Return to step 2 if error occurs
      step2();
    });
    // Click handlers setup
    $(function(){
      $('#make-call').click(function(){
          document.getElementById('callDiv').style.display = 'block';
          document.getElementById('their-video').style.display = 'block';
        // Initiate a call!
        var call = peer.call($('#callto-id').val(), window.localStream);
        step3(call);
      });
      $('#end-call').click(function(){
          document.getElementById('callDiv').style.display = 'none';
          document.getElementById('their-video').style.display = 'none';

        window.existingCall.close();
        step2();
      });
      // Retry if getUserMedia fails
      $('#step1-retry').click(function(){
        $('#step1-error').hide();
        step1();
      });
      // Get things started
      step1();
    });
    function step1 () {
      // Get audio/video stream
      navigator.getUserMedia({audio: true, video: true}, function(stream){
        // Set your video displays
        $('#my-video').prop('src', URL.createObjectURL(stream));
        window.localStream = stream;
        step2();
      }, function(){ $('#step1-error').show(); });
    }
    function step2 () {
      $('#step1, #step3').hide();
      $('#step2').show();
    }
    function step3 (call) {
      // Hang up on an existing call if present
      if (window.existingCall) {
        window.existingCall.close();
      }
      // Wait for stream on the call, then set peer video display
      call.on('stream', function(stream){
        $('#their-video').prop('src', URL.createObjectURL(stream));
      });
      // UI stuff
      window.existingCall = call;
      $('#their-id').text(call.peer);
      call.on('close', step2);
      $('#step1, #step2').hide();
      $('#step3').show();
    }
  </script>
        {% for pat in pat %}
            <div class="col-md-8" style="height: 150px; background-color: #2aabd2; border-radius: 5px; margin-top: 5%">
                <div class="col-md-2" style="padding-left: 0; padding-right: 0; margin-top: 5px">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Image_of_none.svg"height="140" >
                </div>
                <div class="col-md-8" style="margin-top: 5%">
                    <p style="">Имя патциета: {{ pat.name }}</p>
                </div>
                <a href="/doc_chat_room" onclick="openChatDoc()" class="btn-primary btn" style="margin-top: 12%; margin-left: 5%">Видео чат</a>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}

</body>
</html>