<!DOCTYPE html>
<html lang="${request.locale_name}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/css/bootstrap.css" rel="stylesheet">
</head>
<body style="background-color: #2aabd2">
<div class="col-md-12">
    <div class="col-md-4">

    </div>
    <div class="col-md-4" style="margin-top: 20%">
        <form method="post" class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" name="name" class="form-control" id="inputEmail3" placeholder="username">
                </div>
              </div>
            <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <input style="margin-top: 5%; margin-left: 18%" type="submit" class="btn btn-primary" value="Sign in">
        </form>
    </div>
    <div class="col-md-4">

    </div>

</div>
</body>
</html>