<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor admin panel</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
</head>
<body>
<h1>Well come patsient {{ name }}!</h1>
    <div class="col-md-2"></div>
    {% for doc in doc %}
    <div class="col-md-8" style="height: 100px; background-color: #2aabd2; border-radius: 5px">
        <p style="">Имя доктора: {{ doc.name }}</p>
        <p style="">Chat id: {{ doc.chat_id }}</p>
        <a href="/" onclick="sendRequest()" class="btn-primary btn">Позвонить</a>
    </div>
    {% endfor %}
</body>
<script>
</script>
</html>