<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.webrtc-experiment.com/style.css">

        <style>
            audio, video {
                -moz-transition: all 1s ease;
                -ms-transition: all 1s ease;

                -o-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
                vertical-align: top;
            }
            input {
                border: 1px solid #d9d9d9;
                border-radius: 1px;
                font-size: 2em;
                margin: .2em;
                width: 30%;
            }
            .setup {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 102%;
                height: 47px;
                margin-left: -9px;
                margin-top: 8px;
                position: absolute;
            }
            p { padding: 1em; }
            li {
                border-bottom: 1px solid rgb(189, 189, 189);
                border-left: 1px solid rgb(189, 189, 189);
                padding: .5em;
            }

            .videos-container {
                display: inline-block;
                border: 2px solid black;
                padding: .1em;
                border-radius: 0.2em;
                margin: 2em .2em;
                background: white;
                vertical-align: top;
            }
            .videos-container h2 {
                border: 0;
                border-top: 1px solid black;
                margin: 0;
                text-align: center;
                display:block;
            }
            video {
                width:20em;
                height: 15em;
                background: black;
            }
        </style>
        <!-- for HTML5 el styling -->
</head>
<body>
{% for p_file in p_file %}
    <h1>Name: {{ p_file.patsient }}</h1>
    <h1>Chat ID: {{ p_file.chat_id }}</h1>
{% endfor %}
 <article>
            <div class="github-stargazers"></div>

            <div style="text-align:center;">
                <div class="videos-container">
                    <video id="peer2-to-peer1" autoplay controls></video>
                     <h2>Offerer-to-Answerer</h2>

                </div>
                <div class="videos-container">
                    <video id="peer1-to-peer2" autoplay controls></video>
                     <h2>Answerer-to-Offerer</h2>

                </div>
            </div>
			<script>
				 var mediaConstraints = {
					optional: [],
					mandatory: {
						OfferToReceiveAudio: true,
						OfferToReceiveVideo: true
					}
				};
			</script>
            <script>
                var offerer, answerer;
                var offererToAnswerer = document.getElementById('peer1-to-peer2');
                var answererToOfferer = document.getElementById('peer2-to-peer1');
                window.RTCPeerConnection = window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
                window.RTCSessionDescription = window.mozRTCSessionDescription || window.RTCSessionDescription;
                window.RTCIceCandidate = window.mozRTCIceCandidate || window.RTCIceCandidate;
                navigator.getUserMedia = navigator.mozGetUserMedia || navigator.webkitGetUserMedia;
                window.URL = window.webkitURL || window.URL;
                window.iceServers = {
                    iceServers: [{
                            url: 'stun:23.21.150.121'
                        }
                    ]
                };
            </script>
            <script>
                /* offerer */
                function offererPeer(video_stream) {
                    offerer = new RTCPeerConnection(window.iceServers);
                    offerer.addStream(video_stream);
                    offerer.onaddstream = function (event) {
                        offererToAnswerer.src = URL.createObjectURL(event.stream);
                        offererToAnswerer.play();
                    };
                    offerer.onicecandidate = function (event) {
                        if (!event || !event.candidate) return;
                        answerer.addIceCandidate(event.candidate);
                    };
                    offerer.createOffer(function (offer) {
                        offerer.setLocalDescription(offer);
                        answererPeer(offer, video_stream);
                    }, function() {}, mediaConstraints);
                }
            </script>
            <script>
                /* answerer */
                function answererPeer(offer, video_stream) {
                    answerer = new RTCPeerConnection(window.iceServers);
                    answerer.addStream(video_stream);
                    answerer.onaddstream = function (event) {
                        answererToOfferer.src = URL.createObjectURL(event.stream);
                        answererToOfferer.play();
                    };
                    answerer.onicecandidate = function (event) {
                        if (!event || !event.candidate) return;
                        offerer.addIceCandidate(event.candidate);
                    };
                    answerer.setRemoteDescription(offer);
                    answerer.createAnswer(function (answer) {
                        answerer.setLocalDescription(answer);
                        offerer.setRemoteDescription(answer);
                    }, function() {}, mediaConstraints);
                }
            </script>
            <script>
                var video_constraints = {
                    mandatory: {},
                    optional: []
                };
                function getUserMedia(callback) {
                    var n = navigator;
                    n.getMedia = n.webkitGetUserMedia || n.mozGetUserMedia;
                    n.getMedia({
                        audio: true,
                        video: video_constraints
                    }, callback, onerror);
                    function onerror(e) {
						alert(JSON.stringify(e, null, '\t'));
                    }
                }
            </script>
            <script>
                getUserMedia(function (video_stream) {
                    offererPeer(video_stream);
                });
            </script>

            <section style="border: 1px solid rgb(189, 189, 189); margin: 1em 3em; border-radius: .2em;">
                <h2 id="feedback" style="padding: .2em .4em; border-bottom: 1px solid rgb(189, 189, 189);">Feedback</h2>
                <div>
                    <textarea id="message" style="height: 8em; margin: .2em; width: 98%; border: 1px solid rgb(189, 189, 189); outline: none; resize: vertical;" placeholder="Have any message? Suggestions or something went wrong?"></textarea>
                </div>
                <button id="send-message" style="font-size: 1em;">Send Message</button>
            </section>

        </article>


        <!-- commits.js is useless for you! -->
        <script src="https://www.webrtc-experiment.com/commits.js" async> </script>
</body>
</html>