<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <input type="text" name="name">
    <input type="text" name="fullname">
    <input type="password" name="password">
    <input type="submit" value="register">
</form>
</body>
</html>